# Ignore everything by default
*

# But do NOT ignore this .gitignore file itself
!.gitignore

# And do NOT ignore these files
!tsirc_setting.tex
!tsirc_template.tex
!fontawesome5.pdf
!TSirc-rounded.png
!LICENSE